<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.project24.audiometry">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.VoiceCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.patient.AcceptedDoctorList"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.doctor.PatientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.doctor.AcceptedAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.doctor.DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".activity.patient.DoctorList"
            android:exported="false" />
        <activity
            android:name=".activity.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.doctor.DoctorsAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Registration"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Login"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.patient.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.PerformSingleTest"
            android:label="@string/title_activity_performSingleTest"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.patient.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PerformTest"
            android:label="@string/title_activity_performTest"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.patient.MainActivity" />
        </activity>
        <activity
            android:name=".utils.Pre_Calibration"
            android:label="@string/title_calibration"
            android:parentActivityName=".activity.patient.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.patient.MainActivity" />
        </activity>
        <activity
            android:name=".utils.Instructions"
            android:label="@string/title_activity_info"
            android:parentActivityName=".activity.patient.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.patient.MainActivity" />
        </activity>
        <activity
            android:name=".utils.TestLookup"
            android:label="@string/title_activity_test_lookup"
            android:parentActivityName=".activity.patient.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.patient.MainActivity" />
        </activity>
        <activity
            android:name=".utils.TestData"
            android:label="@string/title_activity_test_data"
            android:parentActivityName=".utils.TestLookup"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.TestLookup" />
        </activity>
    </application>

</manifest>